/* @font-face {
  font-family: 'Yearsync';
  src: url('/Users/katiebrown/create-playlist/src/YEARSYNC.ttf') format('truetype'),
       url('/Users/katiebrown/create-playlist/src/YEARSYNC.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} */
/* 
.text-primary {
  color: #53498E;
}

.shadow-text {
  text-shadow: -10px 10px 0px #FFD240;
  line-height: normal;
}

.text-large {
  font-size: 150px;
} */

/* .font-yearsync {
  font-family: 'Yearsync', Arial, sans-serif; 
} */